/*FONT*/
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*BODY*/
body {
    background-color: black;
}

/*TEXT*/
h1,
u {
    font-family: Bebas Neue;
    color: rgb(224, 207, 47);
    font-size: 100pt;
    margin-left: 100px;
}